In [43]:
# fundamental libraries
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# utils
from utils.save_result import *
from utils.visualization import *
from utils.test_functions import *
from utils.engineering_problem import *
from utils.ourmodel import *

In [44]:
math_model_names = ["OriginalAOA", "OriginalCGO", "OriginalHC", "OriginalSCA", "OriginalTS", "Model"]

### CLASSICAL TEST FUNCTION

In [45]:
f_names = ["F1", "F2", "F3", "F4", "F5", "F6", "F7", "F8", "F9", "F10", "F11", "F12", "F13", "F14", "F15", "F16"]

f_function = ["Ackley2", "Brent", "ChungReynolds", "Cigar", "Matyas", "Leon", "Michalewicz", "CrossInTray", 
                   "Hosaki", "Langermann", "Levy5", "Mishra5", "Alpine2","Hansen", "Himmelblau", "Chichinadze"]

#### Get Statistical Results

In [46]:
best_fit_statistic(test_folder="math/classic", test_names=f_names, models=math_model_names)

                        AOA       CGO        HC     Model       SCA        TS
Problem Statictic
F1      min        0.000000  0.000000  1.000000  0.000000  0.000000  0.021245
        std        0.000000  0.000000  0.045155  0.000000  0.000000  1.000000
F10     min        0.038774  0.000000  1.000000  0.000303  0.007468  0.004764
        std        0.972374  0.000000  0.531217  0.009057  0.000562  1.000000
F11     min        1.000000  0.000000  0.000439  0.000007  0.000087  0.000134
        std        0.674827  0.302852  0.411392  0.000000  0.001064  1.000000
F12     min        1.000000  0.000000  0.000000  0.000000  0.005644  0.342106
        std        1.000000  0.000000  0.000028  0.000001  0.003748  0.530376
F13     min        0.354244  0.000000  1.000000  0.000352  0.717938  0.019194
        std        0.063091  0.000000  1.000000  0.001576  0.080551  0.003585
F14     min        1.000000  0.000000  0.016170  0.000409  0.002337  0.000181
        std        1.000000  0.000000  0.046554  0.000708  0.013148  0.836217
F15     min        1.000000  0.000000  0.000778  0.000001  0.000993  0.000098
        std        1.000000  0.000000  0.009481  0.000088  0.002543  0.000323
F16     min        0.155338  0.000000  0.044055  0.000003  0.003244  1.000000
        std        0.975065  0.042727  0.023225  0.027708  0.000000  1.000000
F2      min        1.000000  0.000000  0.000000  0.000000  0.000663  0.000000
        std        1.000000  0.000000  0.000000  0.000000  0.000795  0.000001
F3      min        0.000000  0.000000  0.000179  0.000000  0.000000  1.000000
        std        0.000000  0.000000  0.000009  0.000000  0.000000  1.000000
F4      min        0.000000  0.000000  0.557305  0.000000  0.000000  1.000000
        std        0.000000  0.000000  0.005402  0.000000  0.000000  1.000000
F5      min        0.000000  0.000000  1.000000  0.001419  0.000000  0.001323
        std        0.000000  0.000000  1.000000  0.005671  0.000000  0.109185
F6      min        1.000000  0.000000  0.004212  0.000008  0.001495  0.000653
        std        1.000000  0.000000  0.001564  0.009162  0.003116  0.031590
F7      min        0.252806  0.000000  1.000000  0.000185  0.092255  0.100481
        std        1.000000  0.000000  0.272011  0.000061  0.002021  0.992131
F8      min        1.000000  0.000000  0.001719  0.000002  0.000017  0.000003
        std        1.000000  0.000000  0.002531  0.000033  0.000070  0.000050
F9      min        0.246550  0.000000  1.000000  0.000491  0.022508  0.001091
        std        0.028073  0.000000  1.000000  0.000425  0.015913  0.003048

#### Compare Models by Ranking

In [47]:
best_fitness(test_folder="math/classic", test_names=f_names, models=math_model_names)

In [48]:
compute_rank(test_folder="math/classic", test_names=f_names)

   Problem   AOA   CGO    HC   SCA    TS  Model
0       F1  1.00  1.00  5.48  2.20  5.52   1.00
1       F2  6.00  1.00  1.00  5.00  1.12   1.00
2       F3  1.00  1.00  5.00  1.00  6.00   1.00
3       F4  1.00  1.00  5.20  1.00  5.80   1.00
4       F5  1.00  1.00  6.00  1.00  4.36   2.20
5       F6  6.00  1.00  2.96  4.04  4.60   2.32
6       F7  5.08  1.00  5.72  3.76  3.44   1.76
7       F8  6.00  1.00  5.00  3.64  2.32   1.44
8       F9  5.00  1.00  6.00  4.00  2.84   1.80
9      F10  5.16  1.00  5.36  3.48  3.96   2.00
10     F11  6.00  1.40  4.28  2.80  4.72   1.80
11     F12  6.00  1.00  2.80  4.00  5.00   1.52
12     F13  4.72  1.00  6.00  4.28  3.00   1.88
13     F14  6.00  1.00  4.56  3.56  3.64   2.24
14     F15  6.00  1.00  4.92  4.08  3.00   1.96
15     F16  5.68  1.72  4.40  2.28  4.92   2.00

#### Compare Models by Signed Test

In [49]:
classic = signed_test(test_folder="math/classic", test_names=f_names, trial_size=25)
classic

  Model2  (+)  (-)  Trials
0    AOA   12  388     400
1    CGO  226  174     400
2     HC   13  387     400
3    SCA   40  360     400
4     TS   44  356     400

### CEC22 FUNCTION

In [50]:
c_names = ["C1", "C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10", "C11", "C12"]
c_function = ["F12022", "F22022", "F32022", "F42022", "F52022", "F62022", "F72022", 
              "F82022", "F92022", "F102022", "F112022", "F122022"]

#### Get Statistical Results

In [51]:
best_fit_statistic(test_folder="math/cec22", test_names=c_names, models=math_model_names)

                        AOA       CGO        HC     Model       SCA        TS
Problem Statictic
C1      min        0.462424  0.006501  0.005699  0.000000  0.027177  1.000000
        std        0.484726  0.268708  0.038065  0.000000  0.121433  1.000000
C10     min        1.000000  0.308463  0.365703  0.000000  0.471942  0.434080
        std        0.000000  0.747099  0.452027  1.000000  0.398280  0.446714
C11     min        1.000000  0.000000  0.594859  0.178282  0.744812  0.643630
        std        0.012260  1.000000  0.309851  0.776412  0.000000  0.266123
C12     min        1.000000  0.581071  0.577200  0.000000  0.680269  0.909671
        std        1.000000  0.116410  0.000000  0.395196  0.009596  0.702851
C2      min        0.512134  0.004989  0.011452  0.000000  0.073129  1.000000
        std        1.000000  0.045352  0.005675  0.013198  0.000000  0.636115
C3      min        0.937449  0.000670  0.002687  0.000000  0.027112  1.000000
        std        0.584298  0.100026  0.004700  0.000000  0.034105  1.000000
C4      min        0.636053  0.000000  0.275101  0.037554  0.218855  1.000000
        std        0.520471  0.278402  0.401362  0.034845  0.000000  1.000000
C5      min        0.355128  0.016317  0.020760  0.000000  0.016820  1.000000
        std        0.368353  0.162150  0.291696  0.144766  0.000000  1.000000
C6      min        1.000000  0.000000  0.007947  0.000137  0.001565  0.326598
        std        1.000000  0.000000  0.001180  0.000017  0.001294  0.535883
C7      min        1.000000  0.000000  0.076680  0.026782  0.102072  0.454298
        std        1.000000  0.006593  0.011614  0.007762  0.000000  0.851550
C8      min        1.000000  0.000000  0.000266  0.000017  0.000029  0.000307
        std        1.000000  0.000000  0.000000  0.000000  0.000000  0.989044
C9      min        1.000000  0.033643  0.029535  0.000000  0.053233  0.909172
        std        0.712678  0.193151  0.099284  0.378873  0.000000  1.000000

#### Compare Models by Ranking

In [52]:
best_fitness(test_folder="math/cec22", test_names=c_names, models=math_model_names)

In [53]:
compute_rank(test_folder="math/cec22", test_names=c_names)

   Problem   AOA   CGO    HC   SCA    TS  Model
0       C1  5.00  3.76  2.00  3.24  6.00   1.00
1       C2  5.16  3.28  1.96  3.64  5.84   1.12
2       C3  5.00  3.48  2.12  3.40  6.00   1.00
3       C4  5.00  1.64  4.00  2.72  6.00   1.64
4       C5  5.00  2.92  2.08  1.92  6.00   3.08
5       C6  5.88  1.00  3.68  3.32  5.12   2.00
6       C7  5.84  1.00  3.76  3.20  5.16   2.04
7       C8  5.96  1.00  4.00  2.16  5.04   2.84
8       C9  5.20  3.80  2.84  1.52  5.80   1.84
9      C10  5.36  2.88  3.44  2.72  5.60   1.00
10     C11  5.92  2.72  2.72  3.60  4.96   1.08
11     C12  5.96  3.04  1.52  3.96  5.04   1.48

#### Compare Models by Signed Test

In [54]:
cec22 = signed_test(test_folder="math/cec22", test_names=c_names, trial_size=25)
cec22

  Model2  (+)  (-)  Trials
0    AOA    0  300     300
1    CGO  115  185     300
2     HC   65  235     300
3    SCA   76  224     300
4     TS    5  295     300

### RESULTS OF ALL TESTS

The comparison of the ACSA model and other methods is as follows. (-) indicates how many of the results have the minimum value, that is, the WINNING score.

In [55]:
all = classic + cec22 
all

   Model2  (+)  (-)  Trials
0  AOAAOA   12  688     700
1  CGOCGO  341  359     700
2    HCHC   78  622     700
3  SCASCA  116  584     700
4    TSTS   49  651     700

In [56]:
classic.to_csv('results/math_classic.csv', index=False)
cec22.to_csv('results/math_cec.csv', index=False)
all.to_csv('results/math_total.csv', index=False)